body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica, Arial, sans-serif;
    flex-direction: column;
}

#container {
    background-color: #000;
    width: 309px;
    height: 550px;
    padding: 10px;
    border-radius: 10px;
}

.display {
    color: #fff;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: flex-end;
    font-size: 6.5ex;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.buttons {
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, 20%);
    align-items: center;
    justify-items: center;
}

.btn {
    display: flex;
    width: 85%;
    height: 85%;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: relative;
    cursor: pointer;
}

.zero {
    grid-column: 1 / span 2;
    border-radius: 40px;
    width: 90%;
}

.alt {
    background-color: #a5a5a5;
    color: #000;
}

.oper,
.equal {
    background-color: #fe9505;
}

.btn:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all ease 0.3s;
}

.zero::before {
    border-radius: 40px;
}

.btn:hover::before {
    background: rgba(255, 255, 255, 0.3);
}

.btn::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all ease 0.3s;
}


.zero::after {
    border-radius: 40px;
}

.btn:active::after {
    background: rgba(31, 31, 31, 0.6);
}